<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/idol.css" >
    <title>アイドル管理アプリ</title>
</head>
<body>
    <h1>アイドル一覧</h1>
    <form method="get" action="index.html" >
        <label for="keyword">検索キーワード:</label>
        <input id="keyword" name="keyword" type="text" >
        <button>検索</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th>誕生日</th>
                <th>血液型</th>
                <th>修正</th>
                <th>卒業</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td >1</td>
                <td >ささき　あああ</td>
                <td >2001年1月1日</td>
                <td >A</td>
                <td><a href="fix.html" >修正</a></td>
                <td>
                    <form method="post" action="index.html" >
                        <button>卒業</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="join.html" >新規加入アイドル入力画面</a>
</body>
</html>
